<div class="bgimage h-100 text-white p-5" style="width: 100%;">
  <div class="text-center bg">
    <h1 style="color: rgb(249, 244, 244)">About Us</h1>
    <p>{{'SIMPLIFYING INSURANCE, ONE CLICK AT A TIME' | titlecase}}</p>

    <div class="main-content" style="color: rgb(0, 0, 0)">
      <div class="left-content">
        <h3 style="margin-bottom: 10px; color: black">CLAIMSAIL</h3>
        <table>
          <tr>
            <td>25 Lakhs Families served and more</td>
          </tr>
          <tr>
            <td>More than 12000 marketing intermediaries To guide</td>
          </tr>
          <tr>
            <td>Rs 2 lakh crore And more is the loan book</td>
          </tr>
          <tr>
            <td>283 marketing offices Including one abroad</td>
          </tr>
          <tr>
            <td>Online approvals Through our website</td>
          </tr>
          <tr>
            <td>
              Rs 3.35 lakh crore And more cumulative disbursement since
              inception
            </td>
          </tr>
          <tr>
            <td>
              Over the years widened our reach so as to be as close as possible
              to our customers
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
