
<div class="customer-dashboard">
  <div class="header">
    <h1>Customer Dashboard</h1>
  </div>
  <div class="container">
    <a class="dashboard-box" routerLink="/customer/apply-policy">
      <h2>Available Policies</h2>
    </a>
    <a class="dashboard-box" routerLink="/customer/policy-history">
      <h2>Applied Policies</h2>
    </a>
    <a class="dashboard-box" routerLink="/customer/categories">
      <h2>Policy Categories</h2>
    </a>
    <a class="dashboard-box" routerLink="/customer/question-history">
      <h2>Total Questions Asked</h2>
    </a>
  </div>
</div>



