<div class="bgimage h-100 text-white" style="width: 100%;">
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <h2>Contact Us</h2>
      <p>If you have any questions or inquiries, feel free to contact us:</p>
      <ul>
        <li>Email: contact@claimsail.com</li>
        <li>Phone: +91 1234567890</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h2>Follow Us</h2>
      <ul class="list-unstyled">
        <li><a href="https://www.facebook.com/insurancecompany">Facebook</a></li>
        <li><a href="https://www.twitter.com/insurancecompany">Twitter</a></li>
      </ul>
    </div>
    <div class="subscription-form">
     
      <h5>Subscribe to our newsletter and stay up-to-date with the latest promotions and updates.</h5>
      <form>
        <div class="container w-50 d-flex flex-column justify-content-center align-items-center">
          <input type="email" name="email" placeholder="Your Email Address" class="form-control mb-3" required />
          <button type="submit" class="btn btn-secondary">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


