<div class="bgimage h-100 text-white" style="width: 100%;">
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <h2>Contact Us</h2>
      <p>If you have any questions or inquiries, feel free to contact us:</p>
      <ul>
        <li>Email: contact@insurancecompany.com</li>
        <li>Phone: +123-456-7890</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h2>Follow Us</h2>
      <ul class="list-unstyled">
        <li><a href="https://www.facebook.com/insurancecompany">Facebook</a></li>
        <li><a href="https://www.twitter.com/insurancecompany">Twitter</a></li>
      </ul>
    </div>
    <div class="subscription-form">
     
      <h5>Subscribe to our newsletter and stay up-to-date with the latest promotions and updates.</h5>
      <form action="subscribe" method="post">
        <input type="email" name="email" placeholder="Your Email Address" required>
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</div>
</div>


