<div class="container">
  <div class="table-container">
    <h1>Policy History</h1>
    <table>
      <thead>
        <tr>
          <th>Sl No</th>
          <th>Policy Name</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerPolicy of appliedPolicies; let i = index;">
          <td>{{i+1}}</td>
          <td>{{customerPolicy!.policy!.policyName}}</td>
          <td>{{customerPolicy!.createdAt | date}}</td>
          <td>{{customerPolicy!.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
