<div class="container">
  <div class="table-container">
    <h1>Policy History</h1>
    <table>
      <thead>
        <tr>
          <th>Series</th>
          <th>Policy Name</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PS001</td>
          <td>Life Insurance</td>
          <td>25/8/2023</td>
          <td>Active</td>
        </tr>
        <tr>
          <td>PS002</td>
          <td>Health Insurance</td>
          <td>12/8/2023</td>
          <td>Pending</td>
        </tr>
        <tr>
          <td>PS003</td>
          <td>Life Insurance</td>
          <td>27/9/2023</td>
          <td>Active</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
