
<div class="header">
    <h2>Welcome admin</h2>
</div>
<div id="admin-dashboard-wrapper">
    <div class="content-container">
        <a routerLink="/admin/view-customers">
            <div class="content-box">
                <i class="fas fa-users"></i>
                <h3 class="text-center">Total Registered Users</h3>
                <nav>
                    <div class="nav_items">
                        <li>View Details</li>
                    </div>
                </nav>
            </div>
        </a>
    
        <a routerLink="/admin/policies">
            <div class="content-box">
                <i class="fas fa-list-ul"></i>
                <h3>Listed Policies</h3>
                <nav>
                    <div class="nav_items">
                        <li>View Details</li>
                    </div>
                </nav>
            </div>
        </a>
    
        <a routerLink="/admin/categories">
            <div class="content-box">
                <i class="fas fa-folder-open"></i>
                <h3>Listed Categories</h3>
                <nav>
                    <div class="nav_items">
                        <li>Browse Categories</li>
                    </div>
                </nav>
            </div>
        </a>
    
        <a routerLink="/admin/questions">
            <div class="content-box">
                <i class="fas fa-question-circle"></i>
                <h3>Total Questions</h3>
                <nav>
                    <div class="nav_items">
                        <li>View Questions</li>
                    </div>
                </nav>
            </div>
        </a>
    
        <a routerLink="/admin/customer-policies">
            <div class="content-box">
                <i class="fas fa-file-contract"></i>
                <h3 class="text-center">Total Applied Policy Holders</h3>
                <nav>
                    <div class="nav_items">
                        <li class="text-center">Browse Applications</li>
                    </div>
                </nav>
            </div>
        </a>
    </div>
</div>
