<div class="login-wrapper">
  <div class="login-container">
    <p class="h2 mb-4 text-center">Login to Insurance Policy App</p>
    <form #loginForm="ngForm" (ngSubmit)="loginForm?.form?.valid && onSubmit()" id="loginForm">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" required />
  
      <div *ngIf="
            loginForm.controls['email']?.invalid &&
            loginForm.controls['email']?.touched
          " class="mb-2">
        <span *ngIf="loginForm.controls['email'].errors?.['required']" class="text-sm text-danger">Email is
          required.</span>
        <span *ngIf="loginForm.controls['email'].errors?.['pattern']" class="text-sm text-danger">Invalid email</span>
      </div>
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required />
  
      <div *ngIf="
            loginForm.controls['password']?.invalid &&
            loginForm.controls['password']?.touched
          " class="mb-2">
        <span *ngIf="loginForm.controls['password'].errors?.['required']" class="text-sm text-danger">Password is
          required.</span>
      </div>
  
      <p class="w-100 text-sm text-danger text-center" *ngIf="error !== ''">
        {{ error }}
      </p>
  
      <button [disabled]="loginForm?.form?.invalid" type="submit">Login</button>
    </form>
  
    <p *ngIf="showRegisterBtn" class="text-center">Don't have an account? <a routerLink="/customer-register">Register</a></p>
  </div>
</div>