
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="apply-policy.component.css">
<title>Available Policies</title>
</head>
<body>
<div id="container">
  <h1>Available policies</h1>
  <div id="table-container">
  <table cellpading="5" border="0" cellpading="0">
    <thead>
      <tr>
        <th>Serial No</th>
        <th>Policy Name</th>
        <th>Category</th>
        <th>Sum Assurance</th>
        <th>Premium</th>
        <th>Tenure</th>
        <th>Creation Date</th>
        <th>Apply</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>jeevan A</td>
        <td>life insurance</td>
        <td>100000</td>
        <td>5000</td>
        <td>12</td>
        <td>Aug 9, 2023</td>
        <td><button>Apply</button></td>
      </tr>
    </tbody>
  </table>


