<div class="wrapper">
  <div id="container">
    <h1>Available policies</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>SL No</th>
            <th>Policy Name</th>
            <th>Policy Description</th>
            <th>Category</th>
            <th>Sum Assured</th>
            <th>Premium</th>
            <th>Tenure</th>
            <th>Creation Date</th>
            <th>Apply</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let policy of policies; let i = index;">
            <td>{{i+1}}</td>
            <td>{{policy!.policyName}}</td>
            <td>{{policy!.policydesc}}</td>
            <td>{{policy!.policycategory!.name}}</td>
            <td>{{policy!.sumAssured}}</td>
            <td>{{policy!.premiumAmount}}</td>
            <td>{{policy!.tenure}}</td>
            <td>{{policy.createdAt | date}}</td>
            <td><button (click)="applyPolicy(policy!.policyId)" class="btn btn-primary">Apply</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>